<h1>@event.name</h1>

<p>
    <label>Location:</label>
    <%= link_to @event.location, location_path(@event) %>
</p>

<p>
    <label>Description:</label>
    <%= @event.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Back', events_path %>