<div class="app">
  <div class="app-content">
    <div class="app-inner">
      <div class="header">
        <h1>Create New Location</h1>
      </div>
      <div class="menu">
        <%= render 'form' %><br>

        <%= link_to 'Back', locations_path %>
      </div>
    </div>
  </div>
</div>